.recipe-container{
    width: 100vw;
    height: 20vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: large;
    color:#fff;
    background-position: center;
    background-size: cover;
}

.recipe-container > .mask-img {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.recipe-btn{
    background-color: #d59578;
    color: #fff;
    border-radius: 15px;
    width: 120px;
    text-align: center;
}

.categories-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.category-item{
    max-width: 50vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 10px;
}

.recipe-title{
    margin: 0;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.recipe-title > .mask-img {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.category-item > a{
    background-color: rgba(0, 0, 0, 0.658);
    text-align: center;
    padding: 10px;
    color: #fff;
    font-weight: 700;
    font-size: larger;
    max-height: 30px;
}